/* PHASE 5: Cats */
.content-header {
    background-image: url(/Users/cgripens/Desktop/AppAcademy/html/w5d5/images/cats.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-header h1 {
    color: #FFF;
    font-size: 30px;
    margin: 10px;
    text-shadow: #333 1px 0 10px;
    position: relative;
    left: 230px;
}

.content-header input[type="submit"] {
    background-color: white;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
}